#Folders
.vscode/
navigation_msgs/
colormap/
driver_common-indigo-devel/
laser/
lidar_segmentation/
pointgrey_camera_driver-master/
sick_ldmrs/
velodyne-master/
novatel/
rosbag_to_csv/
scan_simulator/bags_*/

#bags
*.bag
# Prerequisites
*.d

#text and data files
result_ori.txt
result_point.txt
*.csv
code_devel.code-workspace

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
