<?xml version="1.0"?>
<launch>
  <param name="ATLASCAR2" textfile="$(find free_space_detection)/urdf/atlas2.urdf"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="multi_joint_state_publisher">
    <param name="rate" value="20"/>
    <param name="/use_gui" value="True"/>
  </node>
  <!-- <test pkg="rostest" type="hztest" name="hztest" test-name="hztest_multi_joints_urdf"><param name="topic" value="joint_states"/><param name="hz" value="10"/><param name="hzerror" value="0.1"/><param name="test_duration" value="10"/><param name="wait_time" value="10"/></test> -->
</launch>
<!-- -->
<!-- <launch> -->
<!-- upload urdf -->
<!-- <param name="ATLASCAR2" textfile="$(find free_space_detection)/urdf/atlas2.urdf" /> -->
<!-- robot state publisher -->
<!-- <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" /> -->
<!-- joint state publisher with gui -->
<!-- <param name="use_gui" value="true" /> -->
<!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->
